@model SliderUpdateViewModel
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Category
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Title">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price" type="number">
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <img src="@Model.ImageUrl" width="100" height="100" />
                    <input asp-for="ImageUrl" type="hidden" />
                    <label>Image</label>
                    <input asp-for="ImageFile" class="form-control" placeholder="image">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light" asp-action="index">Cancel</button>
            </form>
        </div>
    </div>
</div>
