@model CategoryViewModel

<h1>Category Details</h1>



<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Category Details
            </p>
            <div>
                <p><strong>Category Name:</strong> @Model.Name</p>
                <p><strong>Parent Category:</strong> @Model.Parent?.Name</p>

              @*   @if (!string.IsNullOrEmpty(Model.ParentName))
                {
                    <p><strong>Parent Category:</strong> @Model.ParentName</p>
                }
                else
                {
                    <p><strong>Parent Category:</strong> No parent category</p>
                } *@
            </div>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>

        </div>
    </div>
</div>